apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: industrial-app-ingress
  namespace: industrial-attachment
  annotations:
    kubernetes.io/ingress.class: nginx
    cert-manager.io/cluster-issuer: letsencrypt-prod
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
spec:
  tls:
  - hosts:
    - "https://app.hamanmatage.com/api/applications/mpesa/callback"
    secretName: industrial-app-tls
  rules:
  - host: app.hamanmatage.com
    http:
      paths:
      - path: /api
        pathType: Prefix
        backend:
          service:
            name: backend
            port:
              number: 5000
      - path: /
        pathType: Prefix
        backend:
          service:
            name: frontend
            port:
              number: 80
